# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
bin/fbmuck
fb-resolver
prochelp
fbhelp

# Debug files
*.dSYM/

# configure output
config.log
config.status
autom4te.cache/

# Windows Build Files
fbmuck/compile
fbmuck/winsrc

#Ignore created version.c file
fbmuck/src/version.c
